@charset "UTF-8";

:root {
    /* Paleta de cores extraida da imagen de fundo */
    --color0: #270A09ff; /* black bean 2 */
    --color1: #461808ff; /* black bean */
    --color2: #7F6759ff; /* coyote */
    --color3: #A8998Bff; /* khaki */
    --color4: #C9C3B5ff; /* bone */
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color0);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--color4);
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

section#login div#imagem {
    display: block;
    background: var(--color1) url(../imagens/pexels-efrem-efre-p.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}




